// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-contents{
  display: flex;
}

.album-content{
  margin: 10px;
}

.album-no-content{
  line-height: 100px;
}

.album-schedule-title{
  text-align: center;
  font-size: 12px;
}

.album-item-comment{
  width: 33vh;
}